.elementor-18 .elementor-element.elementor-element-5432d51b > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-18 .elementor-element.elementor-element-5432d51b:not(.elementor-motion-effects-element-type-background), .elementor-18 .elementor-element.elementor-element-5432d51b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-5432d51b > .elementor-container{min-height:60px;}.elementor-18 .elementor-element.elementor-element-5432d51b{box-shadow:0px 6px 6px 0px rgba(0, 0, 0, 0.1607843137254902);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0% 5% 0% 5%;z-index:9995;}.elementor-18 .elementor-element.elementor-element-5432d51b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-18 .elementor-element.elementor-element-6a7b65f4.elementor-column > .elementor-widget-wrap{justify-content:space-between;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-18 .elementor-element.elementor-element-62a4757{width:var( --container-widget-width, 8.855% );max-width:8.855%;--container-widget-width:8.855%;--container-widget-flex-grow:0;text-align:center;}.elementor-18 .elementor-element.elementor-element-62a4757 img{width:100%;height:100px;}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-accent );}.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
					.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-accent );}.elementor-widget-nav-menu{--e-nav-menu-divider-color:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-18 .elementor-element.elementor-element-47f0290{width:auto;max-width:auto;align-self:center;}.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-menu-toggle{margin:0 auto;}.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-47f0290 .e--pointer-framed .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-47f0290 .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--dropdown a:hover,
					.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--dropdown a:focus,
					.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-18 .elementor-element.elementor-element-47f0290 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-primary );}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button{background-color:var( --e-global-color-primary );font-family:"Roboto", Sans-serif;font-size:15px;font-weight:300;font-style:normal;text-decoration:none;line-height:18px;letter-spacing:0px;fill:#FFFFFF;color:#FFFFFF;border-style:solid;border-width:0px 0px 0px 0px;border-color:#00000000;border-radius:0px 0px 0px 0px;padding:11px 17px 11px 17px;}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button:hover, .elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button:focus{background-color:var( --e-global-color-secondary );color:var( --e-global-color-text );border-color:#00000000;}.elementor-18 .elementor-element.elementor-element-b50fdc6{width:auto;max-width:auto;align-self:center;}.elementor-18 .elementor-element.elementor-element-b50fdc6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button-content-wrapper{flex-direction:row;}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button .elementor-button-content-wrapper{gap:11px;}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button:hover svg, .elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button:focus svg{fill:var( --e-global-color-text );}.elementor-18 .elementor-element.elementor-element-a5a1281{width:auto;max-width:auto;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-menu-toggle{margin-left:auto;background-color:#FFFFFF00;border-width:0px;border-radius:0px;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown{background-color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a:hover,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a:focus,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-menu-toggle:hover,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-menu-toggle:focus{color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a:hover,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a:focus,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown a.highlighted{background-color:#000000;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown .elementor-item, .elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Roboto", Sans-serif;font-size:14px;font-weight:300;text-transform:uppercase;font-style:normal;text-decoration:none;letter-spacing:1.53px;}.elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle{color:#000000;}.elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle svg{fill:#000000;}.elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle:hover, .elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle:focus{color:#000000;}.elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle:hover svg, .elementor-18 .elementor-element.elementor-element-a5a1281 div.elementor-menu-toggle:focus svg{fill:#000000;}.elementor-18 .elementor-element.elementor-element-dc1379a > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-18 .elementor-element.elementor-element-dc1379a:not(.elementor-motion-effects-element-type-background), .elementor-18 .elementor-element.elementor-element-dc1379a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-dc1379a{box-shadow:0px 1px 2px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:10px 5px 10px 5px;z-index:9995;}.elementor-18 .elementor-element.elementor-element-dc1379a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-7155aa7.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-18 .elementor-element.elementor-element-7155aa7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-18 .elementor-element.elementor-element-7155aa7.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-18 .elementor-element.elementor-element-ee62162{width:var( --container-widget-width, 10% );max-width:10%;--container-widget-width:10%;--container-widget-flex-grow:0;text-align:center;}.elementor-18 .elementor-element.elementor-element-ee62162 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-2f20599{width:auto;max-width:auto;align-self:center;}.elementor-18 .elementor-element.elementor-element-2f20599 > .elementor-widget-container{margin:0px 40px 0px 40px;}.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-menu-toggle{margin:0 auto;}.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-2f20599 .e--pointer-framed .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-2f20599 .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:hover,
					.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:focus,
					.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-primary );}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button{background-color:#54595F00;font-family:"Inter", Sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;line-height:18px;letter-spacing:0px;fill:#FFFAEE;color:#FFFAEE;border-style:solid;border-width:0px 0px 0px 0px;border-color:#00000000;border-radius:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-3175dc8{width:initial;max-width:initial;align-self:center;}.elementor-18 .elementor-element.elementor-element-3175dc8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button-content-wrapper{flex-direction:row;}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button .elementor-button-content-wrapper{gap:10px;}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button:hover, .elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button:focus{color:#FFFFFF;border-color:#00000000;}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button:hover svg, .elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-f502bbe:not(.elementor-motion-effects-element-type-background), .elementor-18 .elementor-element.elementor-element-f502bbe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-f502bbe{box-shadow:0px 2px 4px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 5px 0px 5px;z-index:9995;}.elementor-18 .elementor-element.elementor-element-f502bbe > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-18 .elementor-element.elementor-element-2c287d2{width:var( --container-widget-width, 8.855% );max-width:8.855%;--container-widget-width:8.855%;--container-widget-flex-grow:0;text-align:center;}.elementor-18 .elementor-element.elementor-element-2c287d2 img{width:100%;height:95px;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button{background-color:#54595F00;font-family:"Inter", Sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;line-height:18px;letter-spacing:0px;fill:#FFFFFF;color:#FFFFFF;border-style:solid;border-width:0px 0px 0px 0px;border-color:#00000000;border-radius:5px 5px 5px 5px;padding:11px 17px 11px 17px;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button:hover, .elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button:focus{background-color:#FCB51400;color:#FFFFFF;border-color:#00000000;}.elementor-18 .elementor-element.elementor-element-6bb1109{width:auto;max-width:auto;align-self:center;}.elementor-18 .elementor-element.elementor-element-6bb1109 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 10px;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button-content-wrapper{flex-direction:row;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button .elementor-button-content-wrapper{gap:11px;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button:hover svg, .elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-4762f64{width:auto;max-width:auto;align-self:center;}.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-menu-toggle{margin:0 auto;}.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-4762f64 .e--pointer-framed .elementor-item:before,
					.elementor-18 .elementor-element.elementor-element-4762f64 .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-secondary );}.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a:hover,
					.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a:focus,
					.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-primary );}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px) and (min-width:768px){.elementor-18 .elementor-element.elementor-element-6a7b65f4{width:85%;}}@media(max-width:1024px){.elementor-18 .elementor-element.elementor-element-5432d51b{padding:0% 2% 0% 2%;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:22px !important;}.elementor-18 .elementor-element.elementor-element-a5a1281 .elementor-menu-toggle{border-width:1px;border-radius:0px;}}@media(max-width:767px){.elementor-18 .elementor-element.elementor-element-5432d51b > .elementor-container{min-height:60px;}.elementor-18 .elementor-element.elementor-element-5432d51b{padding:0px 20px 0px 20px;}.elementor-18 .elementor-element.elementor-element-6a7b65f4{width:85%;}.elementor-18 .elementor-element.elementor-element-62a4757 img{width:85%;}.elementor-18 .elementor-element.elementor-element-b50fdc6 > .elementor-widget-container{margin:0px 0px 0px 8px;}.elementor-18 .elementor-element.elementor-element-b50fdc6 .elementor-button{padding:10px 10px 10px 10px;}.elementor-18 .elementor-element.elementor-element-ee62162{--container-widget-width:116px;--container-widget-flex-grow:0;width:var( --container-widget-width, 116px );max-width:116px;}.elementor-18 .elementor-element.elementor-element-ee62162 img{width:85%;}.elementor-18 .elementor-element.elementor-element-2f20599{width:auto;max-width:auto;}.elementor-18 .elementor-element.elementor-element-3175dc8 > .elementor-widget-container{margin:0px 0px 0px 8px;}.elementor-18 .elementor-element.elementor-element-3175dc8 .elementor-button{padding:10px 10px 10px 10px;}.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-48b4a28.elementor-column .elementor-widget-wrap{align-items:space-evenly;}.elementor-18 .elementor-element.elementor-element-48b4a28.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:space-evenly;align-items:space-evenly;}.elementor-18 .elementor-element.elementor-element-48b4a28.elementor-column > .elementor-widget-wrap{justify-content:space-evenly;}.elementor-18 .elementor-element.elementor-element-2c287d2{--container-widget-width:116px;--container-widget-flex-grow:0;width:var( --container-widget-width, 116px );max-width:116px;text-align:start;}.elementor-18 .elementor-element.elementor-element-2c287d2 img{height:54px;}.elementor-18 .elementor-element.elementor-element-6bb1109 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 10px 0px 10px;}.elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button{padding:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-4762f64{width:auto;max-width:auto;}.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:41px !important;}}/* Start custom CSS for button, class: .elementor-element-3175dc8 */.quick-donation a{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px !important;
    font-family: "Rink", Sans-serif;
    background: url(https://mtjfoundation.ca/wp-content/uploads/2025/07/Path-118.svg) no-repeat;
    background-size: 100% 100%;
    
}
.quick-donation a:hover{
    color: #22582C;
    background: url(https://mtjfoundation.ca/wp-content/uploads/2025/07/Path-118-1.svg) no-repeat;
    background-size: 100% 100%;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-dc1379a */.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item{
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    padding: 14px 20px !important;
    white-space: normal !important;
    color: #fff !important;
    position: relative;
}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item:hover{
    color: #fff !important;
}
.elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:hover{
    font-size: 16px !important;
    padding: 14px 20px !important;
    background: #0B212A;
}
.elementor-nav-menu--main .elementor-nav-menu ul{
    width: 270px !important;
    padding: 10px 0;
}
.elementor-nav-menu--main .elementor-nav-menu a,
.elementor-nav-menu--main .elementor-nav-menu a:hover{
        padding: 13px 24px 13px 0 !important;
    font-size: 17px;
    font-family: "Rink", sans-serif !important;
    color: #0B212A !important;
    font-weight: 600 !important;
}
.elementor-nav-menu--main .elementor-nav-menu a:after{
    display: none;
}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item:before{
    top: 50%;
    right: 14px;
    width: 12px;
    height: 12px;
    content: "";
    margin: -6px 0 0;
    position: absolute;
    background: url(https://mtjfoundation.ca/wp-content/uploads/2025/09/Icon-awesome-arrow-left-1-1.svg) no-repeat;
    background-size: 100% 100%; 
    transition: all .5s;
}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item:hover:before{
    right: 10px;
}
.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274{
    display: none;
}

@media (max-width: 1362px){
    .elementor-18 .elementor-element.elementor-element-2f20599 > .elementor-widget-container{
        margin: 0 20px;
    }
    .elementor-nav-menu--main .elementor-nav-menu a, .elementor-nav-menu--main .elementor-nav-menu a.highlighted, .elementor-nav-menu--main .elementor-nav-menu a:focus, .elementor-nav-menu--main .elementor-nav-menu a:hover{
        padding: 13px 10px;
    }
   
}

@media (max-width: 1199px){
    .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li>a{
        font-size: 14px;
    }
}

@media (max-width: 1024px){
    .elementor-18 .elementor-element.elementor-element-7155aa7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
        justify-content: space-between;
    }
    .elementor-18 .elementor-element.elementor-element-ee62162{
        max-width: 24% !important;
        width: 24% !important;
    }
    .elementor-menu-toggle{
        background-color: #68101A !important;
        font-size: 20px !important;
        margin: 0 0 -10px 0 !important;
        width: 40px;
        height: 40px;
        border-radius: 100%
    }
    .elementor-18 .elementor-element.elementor-element-2f20599 > .elementor-widget-container{
        margin: 0;
    }
     .elementor-menu-toggle i{
         color: #fff;
     }
     .elementor-18 .elementor-element.elementor-element-2f20599{
            width: 50px !important;
     }
     .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item{
         font-size: 20px !important;
         justify-content: flex-stat;
     }
     .elementor-nav-menu__text-align-center .elementor-nav-menu--dropdown .elementor-nav-menu a{
         justify-content: space-between;
         position: relative;
         font-family: "Rink", Sans-serif;
     }
     .elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:hover{
         font-size: 20px !important;
     }
     .elementor-nav-menu--stretch .elementor-nav-menu__container.elementor-na.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-itemv-menu--dropdown{
         padding: 0 0 30px;
     }
     .elementor-nav-menu--dropdown{
         background-color: #0B212A;
         padding: 20px 0;
     }
     .elementor-nav-menu .sub-arrow i{
         display: none;
     }
    .elementor-nav-menu li{
        position: relative;
    }
     .elementor-nav-menu > li > a:before{
         top:15px;
         right: 14px;
         width: 14px;
         height: 14px;
         content:'';
         opacity: 1 !important;
         position: absolute;
         background: url(https://mtjfoundation.ca/wp-content/uploads/2025/09/Icon-awesome-arrow-left.svg) no-repeat;
         transform: scale(1);
     }
     .elementor-nav-menu > li > a.highlighted:before{
         transform: rotate(180deg);
     }
     .elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:hover, .elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a:focus, .elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-18 .elementor-element.elementor-element-2f20599 .elementor-nav-menu--dropdown a.highlighted,
     .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a:hover, .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a:focus, .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.highlighted{
         background-color: transparent !important;
     }
     .elementor-nav-menu > li > ul li a{
         font-weight: 400 !important;
         font-family: "Neueleiden", Sans-serif !important;
     }
     .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274{
        display: block;
    }
    .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274 a:before{
        display: none;
    }
    .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274  a{
        font-size: 20px;
        width: 300px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(https://mtjfoundation.ca/wp-content/uploads/2025/09/Group-5069.svg) no-repeat;
        background-size: 100% 100%;
        margin: 0 0 0 20px;
        position: relative;
        padding: 15px 22px 15px 50px !important;
    }
    .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274 a:hover{
         background: url(https://mtjfoundation.ca/wp-content/uploads/2025/09/Group-5069.svg) no-repeat;
        background-size: 100% 100%;
    }
    .menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-17274 a:after{
        top:16px;
        left:70px;
        width:20px;
        height:16px;
        content:"";
        opacity: 1 !important;
        position: absolute;
        background: url(https://mtjfoundation.ca/wp-content/uploads/2025/08/Group-5152.svg) no-repeat;
    }
}

@media (max-width: 767px){
     .elementor-menu-toggle{
         margin: 0 !important;
     }
     .elementor-18 .elementor-element.elementor-element-48b4a28.elementor-column > .elementor-widget-wrap{
         justify-content: space-between !important;
     }
     .elementor-18 .elementor-element.elementor-element-48b4a28.elementor-column > .elementor-widget-wrap{
         margin-top: 0 !important;
     }
     .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item{
         font-size: 18px !important;
     }
     .elementor-18 .elementor-element.elementor-element-6bb1109 .elementor-button i{
         color: #edba17;
     }
     .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu__container.elementor-nav-menu--dropdown{
         margin-top: 17px !important;
     }
     .elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.highlighted{
         background: transparent !important;
     }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f502bbe */.elementor-18 .elementor-element.elementor-element-4762f64 .elementor-nav-menu--dropdown a.highlighted{
    background: #22582B !important;
}/* End custom CSS */