//custom style for mailchimp Subscription form


.mc-wraper{
    background: #f2f2f2;
    width: 100%;
    float: left;
    padding: 30px;
}
.mc-left{
	width: 20%;
	float:left;
}
.mc-right{
	width:75%;
	float:left;
	margin-left: 5%;
}
.mc-right input[type="text"], .mc-right input[type="email"] {
    width: 28%;
    float: left;
    border-radius: 0;
    border-right: 0;
    border-color: #d9d9d9;
    border-width: 2px;
}
.mc-right input[type="submit"] {
    width: 16%;
    float: left;
    padding: 10px 8px;
    border: 0;
    border-radius: 0;
    background: #e32226;
    color: #fff;
}
.from-wrap{
	margin-top: 20px;
}
.form-notification{
	width:100%;
	float: left;
	margin-top: 20px;
    width: 80%;
}
.mc4wp-response {
    width: 100%;
    float: left;
    text-align: center;
    color: #e32226;
}

@media (max-width:1024.98px) {
	.mc-right input[type="text"], .mc-right input[type="email"] {
    width: 27%;
	}
	.mc-right input[type="submit"] {
    width: 17%;
	}
}
@media (max-width:991.98px) {
	.mc-right input[type="text"], .mc-right input[type="email"] {
    width: 27%;
	}
	.mc-right input[type="submit"] {
    width: 18%;
	}
}
@media (max-width:768.98px) {
.mc-left{
	width: 100%;
}
.mc-right{
	width:100%;
	margin-left: unset;
}
	.form-notification{
		width: 90%;
	}
	.elementor-2231 .elementor-element.elementor-element-91bf8c2 > .elementor-element-populated{
		padding: 20px;
	}
	.mc-left h2 {
    margin-bottom: 10px;
}
	.mc-left p {
    margin-bottom: 0;
}
	.form-notification{
		margin-top:15px;
	}
	.mc4wp-response{
		text-align: left;
	}

}
@media (max-width:575.98px) {
	.mc-left, .mc-right{
		text-align: center;
	}
	.form-notification{
		width: 100%
	}
	.mc4wp-response{
		text-align: center;
	}
	.mc-right input[type="text"], .mc-right input[type="email"] {
    width: 100%;
    border: 2px solid #d9d9d9;
    margin-bottom: 10px;
}
	.mc-right input[type="submit"] {
    width: unset;
    text-align: center;
    margin-top: 0;
    float: unset;
	padding: 10px;
}
}